# Git
.git
.gitignore

# Dependencies
node_modules

# Vite build output
dist

# Environment files
.env*

# Docker
Dockerfile
.dockerignore



dev:docker-compose --profile dev up --build
prod:docker-compose --profile prod up --build
