# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

.env
*.sw?

bagec32937@colimarl.com
lodof17640@baxidy.com
xetog56982@baxidy.com
ceyigi4041@baxidy.com(sponsor)